@model IEnumerable<Service.Model.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = System.Web.HttpContext.Current.User.Identity.Name;
    var count = 0;
}

<h2>Index</h2>

@if (Request.IsAuthenticated)
{
    <a href="@(Url.Action("Create"))" class="btn btn-sm btn-primary">Create</a>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Thumbnail</th>
            <th>Username</th>
            <th align="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>
                    @(item.Name)
                </td>
                <td>
                    @(item.Description)
                </td>
                <td>
                    <img src="@(item.ThumbnailUrl)" alt="@(item.Name)" />
                </td>
                <td>
                    @(item.UserName)
                </td>
                <td align="center">
                    @if (item.UserName == username)
                    {
                        <a class="btn btn-sm btn-primary" href="@Url.Action("Edit",new { id=item.Id})"> Edit</a> <br />
                        <a class="btn btn-sm btn-primary" href="@Url.Action("Delete",new { id=item.Id})"> Delete</a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>